* {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

body {
    background-color: #DFE2DB;
}

.mod3-header {
    text-transform: capitalize;
}

.mod3-section {
    height: 1000px;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 30px;
    text-align: justify;
    margin-bottom: 30px;
}

.mod3-section > p {
    font-size: 1.1em;
}

.mod3-navbar-container {
    background-color: #585858;
}

#mod3-brand {
    color: #FFF056;
}

.mod3-menu a {
    text-align: center;
}

